body {
    margin-left: 30px;
    display: flex;
}

.valises {
    margin-bottom: 50px;
    display: flex;
}

.destination_londres {
    display: flex;
}

.photo_valise_globetrotter {
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: left;
}



.photo_londres, .photo_sydney {
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: left;
}


p {
    text-align: right;
}